{% extends 'base.html' %}

{% block title %}
Тусовка about
{% endblock %}

{% block head %}
    <link href="{{ static('css/chat.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" id='messages_box'>
    <br>
    <div class="row">
        <h1>Проект Тусовка</h1>
        <ul>Проект представляет собой исторический альбом ваших тусовок.
        Из доступных функций для зарегистрированных пользователей:
        <li>Общение с другими участниками проекта. Любыми, не только в рамках тусы.</li>
        <li>Создание своей Тусовки (прикручены настройки приватности (плохо прикручены)).</li>
        <li>Общение внутри свой обособленной тусовки.</li>
        <li>Создание ивентов внутри своей тусовки (пьянка, гулянка, шашлыки, выставка, ДР и тд.).</li>
        <li>Загрузка фотографий и видео с ивентов.</li>
        <li>Оповещение о создании ивента в общем чате и по другим мессенджерам.</li>
        <li>Просмотр в общей ленте отчетов об ивентах ваших тусовок или тех, на которые вы подписаны, но вас не взяли!!! АХАХАХАХ!!!!</li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
    <p>Предложения, пожелания, благодарения ваши присылать в личку <a href="https://vk.com/artemleonzaitsev">Артёмушке</a></p>
    </div>


    <p>
        <div class="mb-3">
            <label for="validationTextarea">Отправить анонимку с хейтом или любовью мне на почту <a href="mailto:artz1994@mail.ru">artz1994@mail.ru</a></label>
            <textarea type="text" class="form-control" id="message" placeholder="Required example textarea" required></textarea>
            <label>Введите обратный адрес, если надеетесь, что я отвечу (глупцы)
                <input type="text" class="form-control" placeholder="Почта, номер телефона, аська, скайп и т.д." id="callback" required>
            </label>
        </div>
                <div id="error" style="color: red;"></div>
                <div id="success" style="color: green;"></div>
        <input class="btn btn-primary" type="submit" id='submit' value="тправить E-mail">
    </p>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ static('js/callback_message.js') }}"></script>
{% endblock %}
