{% extends 'base.html' %}

{% block title %}
ТусЭ about
{% endblock %}

{% block head %}
    <link href="{{ static('css/chat.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" id='messages_box'>
    <meta id="my-data" >
    <br>
    <div class="row">
        <h1>Проект ТусЭ</h1>
        <ul>Проект представляет собой исторический альбом ваших тусовок.
        Из доступных функций для зарегистрированных пользователей:
        <li>Общение с другими участниками проектаю. Любыми, не только в рамках тусы.</li>
        <li>Создание своей ТусЭ (прикручены настройки приватности (плохо прикручены)).</li>
        <li>Общение внутри свой обособленной тусовки.</li>
        <li>Создание ивентов внутри своей тусовки (пьянка, гулянка, шашлыки, выставка, ДР и тд.).</li>
        <li>Загрузка фотографий и видео с ивентов.</li>
        <li>Оповещение о создании ивента в общем чате и по другим мессенджерам.</li>
        <li>Просмотр в общей ленте отчетов об ивентах ваших тусовок или тех, на которые вы подписаны, но вас не взяли!!! АХАХАХАХ!!!!</li>
        <li>Лайки <img src="{{ static('/img/like.jpg') }}"> ивентам и тусам.</li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
    <p>Предложения, пожелания, благодарения ваши присылать в личку <a href="https://vk.com/artemleonzaitsev">Артёмушке</a></p>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
