{% extends 'base.html' %}

{% block title %}
ТусЭ about
{% endblock %}

{% block head %}
    <link href="{{ static('css/chat.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" id='messages_box'>\
    <br>
    <div class="row">
        <div class="col-2"></div>
        <input class="btn btn-primary col-4" id="my_companys" title="" type="button" value="Люди">
        <input class="btn btn-primary col-4" id="create_company" title="" type="button" value="Тусовки">
    </div>
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"  id="companys">
             <ul>
                {% for user in contacts %}
                    
                <li>
                    <div class='row'>
                            <div class="col-8">
                                <a href="{{ '/account?id=%s'%user._id|urlencode }}">{{ user.login }}</a>
                                {% if user.avatar %}
                                    <img style="width: 70px" src="{{ static('photo/users/%s/%s'%(user._id, user.avatar)) }}">
                                {% else %}
                                    <h2>Avatar</h2>
                                {% endif %}
                                <a href="{{ '/private_chat?user_id=%s'%user._id|urlencode }}">Чат</a>
                            </div>
                            <hr>
                            <div class="col-4">   
                                <div id="add_contact" do="{% if in_contacts %}del{% else %}add{% endif %}"user_id={{user._id}}>
                                        <input class="btn btn-danger btn-sm exclude" title="Исключить" type="button" value="★ Удалить из контактов">
                                 </div>
                            </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-8" id="create_block" style="display: none">
            {% for c in companys %}
                <div>
                <a href="{{ '/company?id=%s'%c._id|urlencode }}">
                    <button 
                        type="button" 
                        class="btn btn-outline-{% if not c.private %}primary{% else %}warning{% endif %} btn-sm btn-block btn_chat" 
                        id="user_{{c.name}}">
                            {{c.name}} admin:{{c.admin}} | {% if not c.private %}открытая{% else %}закрытая{% endif %} ТусЭ
                    </button>
                </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ static('js/company.js') }}"></script>
<script src="{{ static('js/account.js') }}"></script>
{% endblock %}
