{% extends 'base.html' %}

{% block title %}
Main Chat page
{% endblock %}

{% block head %}
    <link href="{{ static('css/chat.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" id='messages_box'>
    <meta id="chat-data" 
        data-unread_counter="{{unread_counter}}"
    >
    <meta id="my-data" 
        data-name="{{chat_name}}"
        data-to_user="{{to_user}}"
        data-company_id="{{company_id}}"
        data-to_user_login="{{to_user_login}}"
        data-own_login="{{own_login}}"
        data-self_id="{{self_id}}"
        data-online_id="{{online}}"
        data-last_mess_author="{{last_mess_author}}"
    >

    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <div id="chat_with">Общий чат</div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
                    <div>
                        <button type="button" id="main_chat" class="btn btn-outline-{% if unread_counter.main_chat > 0 %}info{% else %}success{% endif %} btn-sm btn-block" value="{{unread_counter['main_chat']}}">Общий {% if unread_counter.main_chat > 0 %}({{unread_counter.main_chat}}){% endif %}</button>
                    </div>
            {% for user in users %}
                <div>
                    <button 
                        type="button" 
                        class="btn btn-secondary btn-sm btn-block btn_chat" 
                        id="user_{{user._id}}" 
                        name="{{user.login}}"
                        value="{{unread_counter[user._id]}}">
                            {{user.login}} {% if unread_counter[user._id] > 0 %}({{unread_counter[user._id]}}){% endif %}
                    </button>
                </div>
            {% endfor %}
        </div>    
        <div class="col-8">
            <div id='subscribe'>
                {% for mes in messages %}
                  <p {% if mes.unread %}class="unread"{% endif %}>[{{ mes['time'].strftime('%H:%M:%S') }}] 
                    <span class="user">{{ mes['from_user'] }}</span>: {{ mes['msg'] }}
                  </p>
                {% endfor %}
            </div>
                <p>
                    <div class="mb-3">
                        <label for="validationTextarea">Сообщение</label>
                        <textarea type="text" class="form-control" id="message" placeholder="Required example textarea" required></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" id='submit' value="Send">
                </p>
        </div>    
    </div>
</div>
{% endblock %}

{% block ws %}
    <!-- <script src="{{ static('js/common_websocket.js') }}"></script> -->
    <script src="{{ static('js/websocket_chat_go.js') }}"></script>
{% endblock %}
{% block footer %}
{% endblock %}
