{% extends 'base.html' %}

{% block title %}
Main Chat page
{% endblock %}

{% block head %}
    <link href="{{ static('css/chat.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" id='messages_box'>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            {% if to_user_login == 'main' %}
                ТусЭ
            {% elif to_user_login == own_login %}
                Чат с самим сабим
            {% else %}
                Чат с {{to_user_login}}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
                <a href="{{ '/chat'|urlencode }}">
                    <div>
                        <button type="button" id="main_chat" class="btn btn-outline-success btn-sm btn-block">Тусэ_web</button>
                    </div>
                </a>
            {% for user in users %}
                <div>
                <a href="{{ '/chat?id=%s'%user._id|urlencode }}">
                        <button 
                            type="button" 
                            class="btn btn-secondary btn-sm btn-block btn_chat" 
                            id="user_{{user.login}}" 
                            value="{{unread_counter[user._id]}}">
                                {{user.login}}{% if unread_counter[user._id] > 0 %} ({{unread_counter[user._id]}}){% endif %} 
                        </button>
                </a>
                </div>
            {% endfor %}
        </div>    
        <div class="col-8">
            <div id='subscribe'>
                {% for mes in messages %}
                  <p {% if mes._id in unread_mess %}class="unread"{% endif %}>[{{ mes['time'].strftime('%H:%M:%S') }}] 
                    <span class="user">{{ mes['from_user'] }}</span>: {{ mes['msg'] }}
                  </p>
                {% endfor %}
            </div>
                <p>
                    <div class="mb-3">
                        <label for="validationTextarea">Сообщение</label>
                        <textarea type="text" class="form-control" id="message" placeholder="Required example textarea" required></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" id='submit' value="Send">
                </p>
        </div>    
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
