{% extends 'base.html' %}

{% block title %}
ТусЭ about
{% endblock %}

{% block head %}
<link href="{{ static('css/chat.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" id='messages_box'>
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">

            Сортировать по:<br>
            <input class="btn btn-primary" type="submit" id='submit' value="Дате создания">
            <input class="btn btn-primary" type="submit" id='submit' value="Дате бытия">
            <input class="btn btn-primary" type="submit" id='submit' value="Новые ивенты">
            <input class="btn btn-primary" type="submit" id='submit' value="Новые альбомы">
            <input class="btn btn-primary" type="submit" id='submit' value="Новые группы">
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style='overflow: auto; height: 580px'>
            {% for e in events %}
                <div class="row" {% if e.private %}style="background: yellow"{% endif %}>
                    <div class="col-2"></div> 
                    <div class="col-8">
                        В компании {{companys[e.company_id]}} создан новый ивент!
                        {% if e.avatar == '' %}
                            <h2>ТусЭ</h2>
                        {% else %}
                            <div class="col-2">
                                <img style="width: 360px" src="{{ static('photo/%s/%s'%(e._id, e.avatar)) }}">
                            </div>
                        {% endif %}
                        <a href="{{ '/comp_event?id=%s'%e._id|urlencode }}" class='row'>
                            <div class="col-5">
                                <div class="col">Название:{{e.name}}</div>
                                <div class="col">Анонс:{{e.about}}</div>
                                <div class="col">Дата:{{e.date}} {{e.time}}</div>
                                {% if e.private %}<div class="col">Доступ только для членов ТусЭ</div>{% endif %}
                            </div>
                        </a>
                        <hr>
                    </div>    
                </div>
            {% endfor %}
        </div>   
    </div>
</div>
{% endblock %}
    <script type="text/javascript" src="{{ static('js/company.js') }}"></script>
{% block footer %}
{% endblock %}
