<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
  <meta charset="UTF-8">
  <title>
    {% block title %}
    {% endblock %}
  </title>
    <meta id="my-data" 
        data-company_id = "{{company_id}}"
        data-own_login  = "{{own_login}}"
        data-self_id    = "{{self_id}}"
    >
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="{{ '/about'|urlencode }}">О проекте</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if own_login %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ '/account'|urlencode }}">Вошли под именем: {{own_login}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/news'|urlencode }}">ЖиЛе</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ '/my_companys'|urlencode }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Мои Тусовки
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ '/search'|urlencode }}?item=company" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Поиск
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/contacts'|urlencode }}">Контакты</a>
          </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if self_id %}
        <a class="nav-link" href="{{ '/signout'|urlencode }}">Выйти</a>
      {% else %}
        <a class="nav-link" href="{{ '/login'|urlencode }}">Войти</a>
      {% endif %}
    </div>
  </nav>
  {% if self_id %}
    <div>Последние оповещения: <span id="notifications" style="color: #541082">{{last_notif.text}}</span></div>
  {% endif %}
  {% block head %}
  {% endblock %}
</head>
<body style="background: #e9dff0">
      {% block content%}
      {% endblock %}
</body>
<footer>
  {% block ws %}
    <script src="{{ static('js/websocket_common_go.js') }}"></script>
    <!-- <script src="{{ static('js/main.js') }}"></script> -->
  {% endblock %}
  {% block footer %}
  {% endblock %}
</footer>
</html>
