{% extends 'base.html' %}

{% block title %}
ТусЭ about
{% endblock %}

{% block head %}
    <link href="{{ static('css/chat.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" id='messages_box'>
    <br>
    <div class="row">
    {% if access %}
        <div class="col-2">
        </div>    
        <div class="col-5">
            <form autocomplete="on">
                <div id="error" style="color: red;"></div>
                <div id="success" style="color: green;"></div>
                <div class="form-group">
                    <div id="login_label">Ваш логин</div>
                        <input class="form-control" pattern="[A-Za-zА-Яа-я0-9\s]{3,}" placeholder="Чтобы изменить введите новый логин" id="login" value="{{user.login}}">
                </div>
                <hr>

                <div class="form-group">
                    <div id="name_label">Имя</div>
                        <input class="form-control" pattern="" placeholder="Не указано" id="name" value="{{user.name}}">
                </div>
                <hr>

                <div class="form-group">
                    <div id="sername_label">Фамилия</div>
                        <input class="form-control" pattern="" placeholder="Не указано" id="sername" value="{{user.sername}}">
                </div>
                <hr>

                <div class="form-group">
                    <div id="sername_label">Обо мне</div>
                        <input class="form-control" placeholder="Не указано" id="about" value="{{user.about}}">
                </div>
                <hr>

                <div class="form-group">
                    <div id="email_label">E-mail</div>
                        <input type="email" class="form-control" placeholder="Не указано" id="email" value="{{user.email}}" value="{{user.email}}">
                </div>
                <hr>

                <div class="form-group">
                    <div id="bday_label">День рождения</div>
                        <input type="date" class="form-control" id="bday" value="{{user.bday}}">
                </div>
                <hr>

                <div class="form-group">
                    <label>Сменить пароль
                        <input class="form-control" pattern="[A-Za-zА-Яа-я0-9]{4,}" placeholder="Password", id="password">
                    </label>
                </div>
                <hr>
                <div class="form-group">
                    <label>Подтвердить пароль
                        <input class="form-control" pattern="[A-Za-zА-Яа-я0-9]{4,}" placeholder="Password", id="confirm_password">
                    </label>
                </div>
                <p>
                    <input class="btn btn-primary" id="submit" title="Сохранить" type="button" value="Сохранить">
                </p>
            </form>

            <hr>
            <div class="form-group">
                <div>Собственные тусовки: 
                    {% if own_companys %}
                        <div class="col-1"></div>
                        <div class="col-9">
                        {% for c in own_companys %}
                            <div>
                                <a href="{{ '/company?id=%s'%c._id|urlencode }}">{{c.name}} ({% if c.private %}Закрытая{% else %}Открытая{% endif %})</a>
                            </div>

                        {% endfor %}
                        </div>
                    {% else %}
                        Не создано
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div>
                    {% if companys %}
                        Состоите в:
                        <div class="col-1"></div>
                        <div class="col-9">
                        {% for c in companys %}
                            <div>                                
                                <a href="{{ '/company?id=%s'%c._id|urlencode }}">
                                    {{c.name}} ({% if c.private %}Закрытая{% else %}Открытая{% endif %})
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        Нигде не тусуется
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-5">
            {% if user.avatar %}
                <img style="width: 360px" src="{{ static('photo/users/%s/%s'%(user._id, user.avatar)) }}">
                <label for="photo">Сменить автар</label>
            {% else %}
                <h2>Avatar</h2>
                <label for="photo">Загрузить аватар</label>
            {% endif %}
            <div class="row">
                <form action="/user_avatar" method="post" accept-charset="utf-8"
                      enctype="multipart/form-data">
                    <input id="photo" name="photo" type="file" value="" />
                    <input id="user_id" name="user_id" type="hidden" value="{{user._id}}" />
                    <input type="submit" value="Отправить" />
                </form>
            </div>
             <hr>
        </div>
    {% else %}
        <div class="col-2">
        </div>    
        <div class="col-5">
            <div class="form-group">
                <div>Логин: {{user.login}}</div>
            </div>
            <hr>

            <div class="form-group">
                <div>Имя: {% if user.name %}{{user.name}}{% else %}Не указано{% endif %}</div>
            </div>
            <hr>

            <div class="form-group">
                <div>Фамилия: {% if user.sername %}{{user.sername}}{% else %}Не указано{% endif %}</div>
            </div>
            <hr>

            <div class="form-group">
                <div>E-mail: {% if user.email %}{{user.email}}{% else %}Не указано{% endif %}"</div>
            </div>
            <hr>

            <div class="form-group">
                <div>День рождения: {% if user.bday %}{{user.bday}}{% else %}Не указано{% endif %}"</div>
            </div>
            <hr>
            <div class="form-group">
                <div>Собственные тусовки: 
                    {% if own_companys %}
                        <div class="col-1"></div>
                        <div class="col-9">
                        {% for c in own_companys %}
                            <div>
                                <a href="{{ '/company?id=%s'%c._id|urlencode }}">{{c.name}} ({% if c.private %}Закрытая{% else %}Открытая{% endif %})</a>
                            </div>

                        {% endfor %}
                        </div>
                    {% else %}
                        Не создано
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="form-group">
               {% if companys %}
                        Состоите в:
                        <div class="col-1"></div>
                        <div class="col-9">
                        {% for c in companys %}
                            <div>                                
                                <a href="{{ '/company?id=%s'%c._id|urlencode }}">
                                    {{c.name}} ({% if c.private %}Закрытая{% else %}Открытая{% endif %})
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        Нигде не тусуется
                    {% endif %}
            </div>
        </div>
        <div class="col-5">
            {% if user.avatar %}
                <img style="width: 360px" src="{{ static('photo/users/%s/%s'%(user._id, user.avatar)) }}">
            {% else %}
                <h2>Avatar</h2>
            {% endif %}
             <hr>
             <div id="add_contact" do="{% if in_contacts %}del{% else %}add{% endif %}"user_id={{user._id}}>
                {% if in_contacts %}
                    <input class="btn btn-danger btn-sm exclude" title="Исключить" type="button" value="★ Удалить из контактов">
                {% else %}
                    <input class="btn btn-primary btn-sm exclude" title="Исключить" type="button" value="★ Добавить в контакты">
                {% endif %}
             </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="{{ static('js/account.js') }}"></script>
{% endblock %}
