{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h4>
    Список ивентов.
    </h4>
    <a href="{{ '/event?id=%s'%company_id|urlencode }}">
        <input class="btn btn-primary" title="Создать ивент" type="button" value="Создать ивент">
    </a>
    {% for e in events %}
    <div class="row" {% if e.private %}style="background: yellow"{% endif %}>
        <div class="col-1"></div> 
        <div class="col-8">
            <a href="{{ '/comp_event?id=%s'%e._id|urlencode }}" class='row'>
                <div class="col-3 pic"><img src="{{ static('photo/main.gif') }}"></div>
                <div class="col-5">
                    <div class="col">Название:{{e.name}}</div>
                    <div class="col">Анонс:{{e.about}}</div>
                    <div class="col">Дата:{{e.date}} {{e.time}}</div>
                    {% if e.private %}<div class="col">Доступ только для членов ТусЭ</div>{% endif %}
                </div>
            </a>
        </div>    
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<script src="{{ static('js/event.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ static('css/company.css') }}">

{% endblock %}
